src/projekt_referenz_interview.json
{
  "name": "Projekt-Referenz Interview",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hallo, auf geht's! 👋\n\nVersuche es mit /help für die neusten Infos.",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        1264
      ],
      "id": "c9941e30-bc30-4592-9a43-beefa29e8e7d",
      "name": "When chat message received",
      "webhookId": "1da5b3b7-e32a-477c-8001-c770465d6d3a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "15f06e82-96e0-4450-bd2d-98f58c6709ca"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b2f1292-06d6-437e-ab8a-40936213d238",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "/story",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "story"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9151b837-eeec-495f-9299-73b061defd81",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "/save",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "save"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -608,
        1232
      ],
      "id": "c2304295-878d-46af-a5ca-61a4afb71dd0",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "268c8964-7cce-4859-8d40-a0f7f422b542",
              "name": "output",
              "value": "﻿﻿Ich würde gerne mehr über dein letztes Projekt erfahren. Lass uns ein kleines Gespräch darüber führen.\n\nWenn du genug hast, gib **/save** ein.\n\nWenn du schon Textbausteine hast, kannst du diese gerne per Cut & Paste einfügen.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        528
      ],
      "id": "9fd08e53-ab90-45ec-bc99-ad58abe7fe4f",
      "name": "Help"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bYzjiyfyQGo9oq7N",
          "mode": "list",
          "cachedResultName": "Save Project Facts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Switch').item.json.sessionId }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1632,
        832
      ],
      "name": "Call Save Project Facts",
      "id": "3affec20-219e-44aa-a252-6a3e0210780a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d4a359c-8b44-44ca-92bf-e91c218c6d73",
              "name": "text",
              "value": "Die Daten werden im Hintergrund gespeichert.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        832
      ],
      "id": "c7d67b6b-ac1c-49a5-a3c5-03b1f2fd0e2c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RO0ZpEKzmT7MKnrq",
          "mode": "list",
          "cachedResultName": "Projektreferenz Schreiber"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        128,
        928
      ],
      "name": "Call Projektreferenz Schreiber",
      "id": "aea55bde-6248-477f-b394-5893c2a4f7b4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zcLi4MwbMno7SPjK",
          "mode": "list",
          "cachedResultName": "Interview"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "chatInput"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        128,
        1456
      ],
      "name": "Call Interview",
      "id": "9d4e8f8f-2758-49ad-80ab-ea5fadb871cd"
    },
    {
      "parameters": {
        "topics": "markets-chat/client/+/sessions/+/messages/user",
        "options": {}
      },
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        1040
      ],
      "id": "e9a8fd6d-0671-4ecd-8fc0-213ecbfdfa87",
      "name": "MQTT Trigger",
      "credentials": {
        "mqtt": {
          "id": "09rqSHVte3779aNe",
          "name": "MQTT account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Projektreferenz Schreiber",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Save Project Facts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Save Project Facts": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MQTT Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77b97346-aea7-4356-a14d-8d992c23d201",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b81cb0b3bf8069b0d16cf6894dc892ec2f8d9fec00803e5c7e21c0a3d400d5a7"
  },
  "id": "KxnJborL0CQ4LiRR",
  "tags": []
}